[package]
name = "sniper"
version = "0.1.0"
authors = ["skewballfox <joshua.ferguson.273@gmail.com>"]
edition = "2018"

[workspace]
members=["sniper","sniper-client","sniper-node"]
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
